.home {

  &-bg {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-size:cover;
    background-position:50% 0;
    background-image:url('./image/home-bg2.png');
    opacity: 0.42;
  }

  &-content {

    text-align: center;

    z-index:2;

    padding:116px 64px;

    width:100%;
    height:100%;

    &-left {
      background-color:#fff;
      height:400px;
      width:40%;
    }
  }

  .logo {
    // background-image:url('./img/Policy-Alert-Logo.png');
    max-width:192px;
    height:100px;
  }

  &-container {
    background: #455A64;
    color: white;
  }

  h1 {
    font-size: 52px;
    font-weight: bold;
    color: #4a4a4a;
  }

  h3 {
    font-size: 34px;
	  font-weight: bold;
	  color: rgba(74, 74, 74, 0.7);
  }

  .cta-button {
    margin-top:100px;
    width: 300px;
	  height: 75px;
	  border-radius: 8px;
  	background-color: #2196f2;
	  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    font-size: 24px;
	  font-weight: bold;
	  text-align: center;
	  color: #ffffff;
  }

  &-register-btn {
    font-size: 20px;
    height: 56px;
    width: 220px;
  }

}