.patient-rules {
    height: 100%;
    overflow: hidden;

    &-header {
        margin-top: 64px;
    }

    md-toolbar, .md-toolbar-tools {
        max-height: 150px;
        height: 150px;
    }

    md-input-container {
        margin-right: 16px;
    }

    .md-button {
        height: 48px;
        font-size: 20px;
    }

    &-item {
        height: 48px;
        padding: 8px;
        
        &:nth-child(even) {
            background: #EEEEEE;
        }
    }
}